body {
  font-family: 'FINDER', sans-serif;
}
.container {
  height: 100vh;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 100%;
}
div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select {
  font-size: 26px;
  background-color: #c3a9ff;
  color: #333;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
}
select:hover {
  cursor: pointer;
}
.displayGame {
  position: relative;
}
.tabelGame {
  width: 520px;
  height: 520px;
  text-align: center;
  border-spacing: 0;
  border: none;
}
td {
  height: 174px;
  width: 174px;
  font-size: 120px;
}
#case2,
#case5,
#case8 {
  border-left: 5px solid #c3a9ff;
  border-right: 5px solid #c3a9ff;
}
.rows2 td {
  border-bottom: 5px solid #c3a9ff;
  border-top: 5px solid #c3a9ff;
}
td:hover {
  cursor: pointer;
}

.nav-btn {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: transparent;
}
.alert {
  font-family: arial;
  opacity: 0;
  color: #333;
  border: 3px solid #c3a9ff;
  background: rgb(195 169 255 / 70%);
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  width: 500px;
  min-height: 60px;
  font-size: 28px;
  font-weight: bold;
  padding: 10px 20px;
  transition: opacity .3s ease-in-out;
}
.alert.show {
  opacity: 1;
}
.alert.show > span {
  font-family: 'FINDER', sans-serif;
  font-size: 36px;
  margin: 0 10px;
}

button:focus,select:focus {
  outline: none;
}
