body {
  font-family: 'FINDER', sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.layout {
  margin-top: 50px;
}
div.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
select {
  height: 40px;
  font-size: 20px;
  background-color: white;
  border: none;
}
select:hover {
  cursor: pointer;
}
.displayGame {
  margin-top: 100px;
  position: relative;
}
.tabelGame {
  width: 500px;
  height: 500px;
  text-align: center;
  border: none;
}
td {
  width: 125px;
  height: 125px;
  max-width: 125px;
  max-height: 125px;
  font-size: 120px;
}
#case2,
#case5,
#case8 {
  border-left: 5px solid #1a5f98;
  border-right: 5px solid #1a5f98;
}
.rows2 td {
  border-bottom: 5px solid #1a5f98;
  border-top: 5px solid #1a5f98;
}
td:hover {
  cursor: pointer;
}

.nav-btn {
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.alert {
  position: absolute;
  top: 101px;
  background-color: rgba(13, 161, 146, 0.49);
  width: 500px;
  height: 48px;
  z-index: 1;
  text-align: center;
  padding: 10px 0;
  font-size: 40px;
}

button:focus,select:focus {
  outline: none;
}
