body,
html {
  min-height: 100%;
}

.normal-theme {
  --color-primary: #c3a9ff;
  --filter: invert(67%) sepia(52%) saturate(955%) hue-rotate(203deg) brightness(104%) contrast(101%);
}

.easy-theme {
  --color-primary: #a0e7e5;
  --filter: invert(86%) sepia(19%) saturate(478%) hue-rotate(128deg) brightness(95%) contrast(98%);
}

.medium-theme {
  --color-primary: #fbe7c6;
  --filter: invert(89%) sepia(18%) saturate(1191%) hue-rotate(310deg) brightness(119%) contrast(97%);
}

.hard-theme {
  --color-primary: #ffaebc;
  --filter: invert(81%) sepia(12%) saturate(2165%) hue-rotate(300deg) brightness(105%) contrast(106%);
}

nav {
  padding: 15px 0;
}
nav .choose-vs {
  display: inline-block;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
}
nav .choose-vs button {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  width: 150px;
  height: 30px;
  cursor: pointer;
  margin: 0 -2px;
}
nav .vs-computer {
  display: none;
}
nav .vs-computer .back-to-choose-vs {
  display: inline-block;
  margin-right: 15px;
}
nav .vs-computer .back-to-choose-vs button {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  width: 31px;
  height: 31px;
  cursor: pointer;
  margin: 0 -2px;
  background-color: var(--color-primary);
  border-radius: 5px;
}
nav .vs-computer .choose-level {
  display: inline-block;
  border: 1px solid var(--color-primary);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}
nav .vs-computer .choose-level button {
  background-color: transparent;
  color: var(--color-primary);
  border: none;
  width: 90px;
  height: 30px;
  cursor: pointer;
  margin: 0 -2px;
}
nav .config-icons {
  list-style: none;
  margin: 0;
}
nav .config-icons .icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  cursor: pointer;
  filter: var(--filter);
  transition: all 0.25s ease-in-out;
}
nav .config-icons .icon:hover {
  transform: translateY(-1px);
  transition: all 0.3s ease-in-out;
}
nav .config-icons .icon#volume-up {
  background-image: url("../icons/volume_up.svg");
}
nav .config-icons .icon#replay {
  background-image: url("../icons/replay.svg");
}
nav .config-icons .icon#clear {
  background-image: url("../icons/clear.svg");
}

.game {
  padding: 100px 0;
}
.game .game-content {
  position: relative;
  display: inline-block;
}
.game .game-content svg {
  position: absolute;
  left: 0;
  z-index: 1;
}
.game .game-content table {
  margin: 0 auto;
  z-index: 2;
  position: relative;
  border-spacing: 8px;
  background-image: url("../icons/table/table-nrml.svg");
  background-repeat: no-repeat;
  transition: background 0.5s ease-in;
}
.game .game-content table tbody tr {
  font-weight: 100;
}
.game .game-content table tbody tr td {
  width: 140px;
  height: 140px;
}

.result .result-col > div {
  transition: all 0.3s ease-in-out;
  display: inline-block;
  background-color: var(--color-primary);
  color: #ffffff;
  width: 100px;
  height: 60px;
  max-height: 60px;
  padding: 10px;
  border-radius: 8px;
}
.result .result-col > div.x-result {
  text-align: left;
}
.result .result-col > div.ties-result {
  text-align: center;
  width: 70px;
}
.result .result-col > div.ties-result .result-counter {
  font-size: 25px;
}
.result .result-col > div.ties-result p {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}
.result .result-col > div.o-result {
  text-align: right;
}
.result .result-col > div .result-counter {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}
.result .result-col > div svg {
  position: relative;
  top: 2px;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
footer .container {
  padding: 20px;
  border-top: 1px solid #dbe2e8;
}
footer .container .copyright {
  font-size: 16px;
  color: #bfb7d3;
}
footer .container .copyright a {
  color: #bfb7d3;
  text-decoration: none;
}
footer .container .copyright a:hover {
  background-color: #c3a9ff;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}
footer .container .source-code a {
  color: #bfb7d3;
  text-decoration: none;
}
footer .container .source-code a:hover {
  transition: all 0.3s ease-in-out;
  color: var(--color-primary);
}

button.selected {
  border: 1px solid var(--color-primary) !important;
  border-radius: 3px;
  background-color: var(--color-primary) !important;
  color: #ffffff !important;
}

button {
  transition: all 0.5s ease-in-out;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

/*# sourceMappingURL=main.css.map */
